[MESSAGES CONTROL]
disable=missing-docstring,no-member,notimplemented-raised,raising-bad-type,broad-except,fixme,todo,no-self-use,consider-iterating-dictionary

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

[BASIC]
# Good variable names which should always be accepted, separated by a comma
good-names=e,id,df,f
